{% extends "base.html" %}

{% block title %}Приветственная страница{% endblock %}

{% block content %}
<header>
    <div class="header-content">
        <div class="logo">
            {% comment %} <img src="{% static 'images/logo.png' %}" alt="Логотип"> {% endcomment %}
        </div>
        <div class="header-info">
            <p>+9999999, Telegram</p>
        </div>
    </div>
    <h1>Электронная сервисная книжка "Мой Силант"</h1>
</header>

<section class="search-section">
    <h2>Проверьте комплектацию и технические характеристики техники Силант</h2>
    <form method="get" action="{% url 'search_machine' %}">
        <label for="serial-number">Заводской номер:</label>
        <input type="text" id="serial-number" name="serial_number" placeholder="Введите номер">
        <button type="submit">Поиск</button>
    </form>

    {% if search_results %}
    <div class="results">
        <h3>Результат поиска:</h3>
        <table>
            <thead>
                <tr>
                    <th>Параметр</th>
                    <th>Значение</th>
                </tr>
            </thead>
            <tbody>
                {% for param, value in search_results.items %}
                <tr>
                    <td>{{ param }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</section>

<footer>
    <p>+9999999, Telegram</p>
    <p>Мой Силант © 2022</p>
</footer>
{% endblock %}